
  
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand">
        <img src="../assets/imagenes/arg-programa.png" alt="" height="50" class="d-inline-block align-text">
        #YoProgramo
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
          </svg>
        </span>
      </button>
    

      <!-- barra menu -->
      <div class="collapse navbar-collapse" id="navbarText">
        
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
          <li class="nav-item">
            <a class="nav-link" href="#">Presentacion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Experiencia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Educacion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Proyectos</a>
          </li>
          
        </ul>
      

        <!-- login y redes -->
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
              <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
            </svg></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
              <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
            </svg></a>
          </li>
        
        </ul>
     
    
      </div>
    
  </div>
  </nav> 
 

  <div class="withBackground">
    <img src="../assets/imagenes/fondo.jpeg" alt="">
  </div>

  

<!-- presentacion -->

<section class="hero shadow-sm p-3 mb-5 bg-white rounded" id="about">
  <img class="hero-img ro mx-auto d-block"
    src="../assets/imagenes/perfil.jpeg/"
    alt="..."
    loading="lazy"
    
  />
  <div class="shadow p-3 mb-5 bg-white rounded animate__animated animate__shakeX">
    <h2 class="bio-titulo">¡Hola Mundo! Soy Amalia Cano.</h2>
    <p class="bio-texto">
      Desarrolladora Full Stack en proceso, adquiriendo conocimientos por medio del autoaprendizaje. Poseo gran interes por los desafios y el aprendizaje, Siempre aspirando al logro de resultados y a la evolucion constante, por un mundo mas conectado.
    </p>
    <a href="#" target="_blank" class="enlace-de-proyecto">Download CV</a>
  </div>
</section>




<!--Experiencia laboral -->

<section class="container">
  <h2 class="header-Experiencia text-center">EXPERIENCIA LABORAL</h2>
<div class="shadow p-3 mb-5 bg-white rounded">
  <div class="card-body">
    <p class="card-text text-center">Community Manager en Comunidad Misiones IT (2021-actualmente)</p>
    <p class="card-text text-center"><small class="text-muted">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Gestion de redes sociales.</li>
        <li class="list-group-item">Programacion y supervision de contenidos.</li>
        <li class="list-group-item">Responsable de la mejora del posicionamiento web aplicando estrategias SEO.</li>
        <li class="list-group-item">Creacion y optimizacion de campañas Google Ads.</li>
        <li class="list-group-item">Supervision de la actividad de la competencia y al dia de las tendencias en redes sociales.</li>
      </ul>
    </small>
  </p>
  </div>
  <img src="../assets/imagenes/1646285139856.jpg" class="rounded mx-auto d-block" alt="...">
</div>
</section>



 <!-- Estudios -->
 <section class="container">
  <h2 class="header-Estudios">ESTUDIOS</h2>

 <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="../assets/imagenes/1.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>PoloTic Misiones</h5>
        <p>Introduccion Diseño UX/UI</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="../assets/imagenes/2.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Google</h5>
        <p>Marketing Digital</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../assets/imagenes/3.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>CESSI</h5>
        <p>Argentina Programa #SeProgramar</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</section>




<!-- SKILLS -->

<section class="habilidades" id="habilidades">
  <h2 class="header-habilidades">SKILLS</h2>

  <div class="contenedor-habilidades">
    <div class="first-set animate__animated animate__pulse">
      <img
        src="../assets/imagenes/html5-svgrepo-com.svg"
        alt=""
        loading="lazy"
        class="icon  icon-card"
      />
      
      <img
        src="../assets/imagenes/css-svgrepo-com.svg"
        alt=""
        loading="lazy"
        class="icon icon-card"
      />
      <img
        src="../assets/imagenes/bootstrap-4-logo-svgrepo-com.svg"
        alt=""
        loading="lazy"
        class="icon icon-card"
      />
    </div>

    <div class="second-set animate__animated animate__pulse">
      <img
        src="../assets/imagenes/java-logo-svgrepo-com.svg"
        alt=""
        loading="lazy"
        class="icon icon-card"
      />
      <img
        src="../assets/imagenes/github-svgrepo-com.svg"
        alt=""
        loading="lazy"
        class="icon icon-card"
      />
      <img
        src="../assets/imagenes/angular-svgrepo-com.svg"
        alt=""
        loading="lazy"
        class="icon icon-card"
      />
    </div>
   
    <div class="second-set animate__animated animate__pulse">
    <img
    src="../assets/imagenes/js-official-svgrepo-com.svg"
    alt=""
    loading="lazy"
    class="icon icon-card"
  />
  <img
    src="../assets/imagenes/mysql-svgrepo-com.svg"
    alt=""
    loading="lazy"
    class="icon icon-card"
  />
</div>

  </div>
</section>

<!-- proyectos -->
<section class="proyectos" id="proyectos">
  <h2 class="titulo-de-proyectos">Algunos de mis proyectos recientes</h2>
  <div class="contenedor-de-proyectos">
    <div class="contenedor-de-proyectos tarjeta-de-proyectos">
      <img
        src="../assets/imagenes/portfolio.png"
        alt=""
        loading="lazy"
        class="project-pic"
      />
      <a href="#" target="_blank" class="enlace-de-proyecto">Ver Codigo</a>
    </div>
  </div>
  
</section>
  

<!-- contacto -->
<section class="contacto" id="contacto">
  <h2>Contactame</h2>
  <div class="formulario-contacto-contenedor">
    <div class="formulario-contacto">
      <form action="https://formspree.io/f/xyylngw" method="POST">
        <div class="control-formulario">
          <label for="name">Nombre</label>
          <input
            type="text"
            id="name"
            name="sender-name"
            placeholder="Escribe tu nombre"
            class="input-field"
            required
          />
        </div>
        <div class="control-formulario">
          <label for="email">Correo Electrónico</label>
          <input
            type="email"
            id="email"
            name="sender-email"
            placeholder="Ingreso tu correo electrónico"
            class="input-field"
            required
          />
        </div>
        <div class="control-formulario">
          <label for="mensaje">Mensaje</label>
          <textarea
            id="mensaje"
            cols="60"
            rows="10"
            placeholder="Escribe tu mensaje"
            name="mensaje"
            class="input-field"
            required
          ></textarea>
        </div>
        <input
          type="submit"
          value="Enviar"
          id="submit-btn"
          class="submit-btn"
        />
      </form>
    </div>
  </div>
</section>

<!-- boton desplazamiento -->
<i class="desplazarse-hacia-arriba" id="desplazarse-hacia-arriba"
><img
  src="../assets/imagenes/up-arrow-svgrepo-com.svg"
  class="up-arrow"
  alt="desplazarse-hacia-arriba"
/></i>


<!-- footer -->
<footer>
  <p class="copy">&copy; Copyright 2022</p>
  <p class="copy">
    Built with &#x2661; by Amalia Cano
    
  </p>
</footer>



